@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
*{
    font-family: "Big Shoulders", sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding-top: 30px;
}
#header p{
    font-size: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
#navbar{
    background-color: rgb(0, 0, 0);
}
#navbar ul li{
    display: inline;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}
#navbar ul li a{
    text-decoration: none;
    color: #ffffff;
}
#navbar ul li a:hover{
    text-decoration: none;
    color: #868686;
}
#navbar i{
    color: #ffffff;
    padding: 20px;
}
ul{
    padding: 20px;
    text-align: center;
}
#product{
    background-image: url(img/product1.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#product .butt{
    background-color: #ffffff;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
#product button:hover {
	text-decoration: none;
	background-color:#000000;
    color: #ffffff;
}
#about h1, p{
    text-align: center;
}
#product .butt a{
    text-decoration: none;
    color: black;
}
#product .butt a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
